*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To use box model*/
}

body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
}

.button__primary{
    background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.button__primary:hover{
    border: 2px solid pink;

}

.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin:0;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.nav__item{
    background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav__item:hover{
    border: 2px solid pink;

}

.hero__image__container{
    width: 100%;
    
}



.hero__image{
    
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    
    
}

.hero__text{
    font-size: 30px;
    margin: 20px auto;
}

 .explore__menu__text{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;

 }


.food__card__image__container{
    width: 100%;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__card{
    background-color: #fff;
    margin-bottom: 15px;
   
}

.food__card__description{
    padding: 15px;
}





@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
        
    }

    .explore__menu__container{
        margin-top: 30px;
    }

    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        padding: 0 30px;
    }

    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    
    .explore__menu__view__more{
        display: flex;
        justify-content: center;
    }

    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #E74C3C;
        transform: skewY(-3deg);
        z-index: -3;
    }

    .explore__menu__container{
        position: relative;
    
    }
}

@media (min-width:1020px){
    .container{
        max-width: 900px;
    }
    .navbar__brand{
        width: 150px;
    }

    .button__primary{
        padding: 20px;
        font-size: 20px;
    }

    .hero__description{
        width: 100%;
    }

    .hero__text{
        font-size: 50px;
    }

    .explore__menu__lists{
        gap: 40px;
    }

    .explore__menu__text{
        font-size: 50px;
    }
    
}

@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }
}