*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To use box model*/
}

body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.nav__item{
    background-color: #ff512f;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav__item:hover{
    border: 2px solid blue;

}

@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
}

@media (min-width:1020px){
    .navbar__brand{
        width: 150px;
    }

    .nav__item{
        padding: 20px;
        font-size: 20px;
    }
    
}